/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    padding: 20px;  /* Add some padding to prevent content from touching the edges */
    background-image: url("/static/images/freelancer.jpeg");
    background-size:cover; 
    background-repeat: no-repeat;
}

.registration-container {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px 0;  /* Add some margin to prevent form from touching the top */
}

.registration-container h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
}

.registration-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-container form p {
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
}

.registration-container form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}

.registration-container form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registration-container form button:hover {
    background-color: #0056b3;
}
